.conquistas{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    gap: 50px;
    background-color: var(--color--black);
    clip-path: polygon(50% 3%, 52% 0, 100% 0, 100% 100%, 0 100%, 0 0, 48% 0);
}

.conquistas > div:nth-child(1){
    width: 50%;
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.conquistas > div:nth-child(1) img{
    width: auto;
    height: 8%;
    object-fit: contain;
}

.conquistas > div:nth-child(1) p{
    width: 100%;
    text-align: left;
    font-size: 1rem;
    font-weight: 200;
    color: var(--color--white);
}

.conquistas > div:nth-child(1) button{
    padding: 10px 20px;
    background-color: var(--color--white);
    color: var(--color--black);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: all .2s ease-in-out;
}

.conquistas > div:nth-child(1) button:hover{
    background-color: transparent;
    border: 1px solid var(--color--white);
    color: var(--color--white);
    letter-spacing: 0.5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.conquistas > div:nth-child(2){
    height: 80%;
    width: 50%;
    border: 1px solid var(--color--white);
    border-radius: 10px;
    padding: 5px;
}

.conquistas > div:nth-child(2) div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--color--white);
    border-radius: 5px;
}


@media (max-width: 768px){
    .conquistas{
        width: 100%;
        height: 100dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10% 5%;
        gap: 30px;
        background-color: var(--color--black);
        clip-path: polygon(50% 3%, 54% 0, 100% 0, 100% 100%, 0 100%, 0 0, 46% 0);
    }
    
    .conquistas > div:nth-child(1){
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
    }
    
    .conquistas > div:nth-child(1) img{
        width: auto;
        height: 10%;
    }
    
    .conquistas > div:nth-child(1) p{
        width: 100%;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 200;
    }
    
    .conquistas > div:nth-child(2){
        height: 50%;
        width: 100%;
        padding: 5px;
    }
    
    .conquistas > div:nth-child(2) div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
}