.destaques{
    height: 80dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    flex-direction: column;
    gap: 40px;
    background-color: var(--color--red);
    clip-path: polygon(100% 0, 100% 100%, 52% 100%, 50% 97%, 48% 100%, 0 100%, 0 0);
}

.destaques section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 60%;
}

.destaques section div{
    width: 48%;
    height: 48%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 2px solid var(--color--white);
    border-radius: 10px;
    transition: transform .2s ease-in-out;
}

.destaques section div:hover{
    transform: scale(1.02);
}

.destaques section div img{
    width: 35%;
    border: 5px solid;
    object-fit: contain;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: var(--color--red);
    background-color: var(--color--white);
    border-radius: 10px 0 0 10px;
}

.destaques section div p{
    width: 65%;
    padding: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    font-size: 1rem;
    line-height: 120%;
    color: var(--color--white);
}

.destaques div button{
    padding: 10px 20px;
    background-color: var(--color--white);
    color: var(--color--color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: all .2s ease-in-out;
}

.destaques div button:hover{
    background-color: var(--color--white);
    border: 1px solid var(--color--white);
    color: var(--color--black);
    letter-spacing: 0.5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px){
    .destaques{
        height: 100dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5%;
        flex-direction: column;
        gap: 40px;
        clip-path: polygon(100% 0, 100% 100%, 54% 100%, 50% 97%, 46% 100%, 0 100%, 0 0);
    }
    
    .destaques section{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: 75%;
        gap: 20px;
    }
    
    .destaques section div{
        width: 100%;
        height: 24%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    
    .destaques section div img{
        width: 35%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        border-radius: 10px 0 0 10px;
    }
    
    .destaques section div p{
        width: 65%;
        padding: 10px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.7rem;
    }
    
}

@media (min-width: 769px) and (max-width: 1280px){

}