.Homepage{
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    justify-content: center;
    flex-direction: column;
    padding: 0 10%;
    position: relative;
    z-index: 1;
    background-image: url('../assets/fachada.jpg');
    background-position: right;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: repeat;
}

.Homepage::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    clip-path: polygon(0 0, 50% 0, 55% 50%, 50% 100%, 0 100%, 0% 50%);
    background-color: var(--color--white);
}

.Homepage::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    clip-path: polygon(0 0, 50.2% 0, 55.2% 50%, 50.2% 100%, 0 100%, 0% 50%);
    background-color: var(--color--black);
}

.Homepage img{
    width: auto;
    height: 7%;
    object-fit: contain;
}

.Homepage h1{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 100%;
    color: var(--color--black);
    width: 40%;
}

.Homepage p {
    font-size: .8rem; 
    width: 50%;
    line-height: 100%;
    color: var(--color--black);
    margin-top: -20px;
    font-weight: 200;
}

.Homepage form{
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.Homepage form div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.Homepage form select{
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--color--black);
}

.Homepage form select option{
    padding: 12px;
    color: var(--color--black);
}

.Homepage form input{
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid var(--color--black);
}

.Homepage form input::placeholder{
    font-size: 0.8rem;
}

.Homepage form button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: var(--color--black);
    color: var(--color--white);
    cursor: pointer;
    border: none;
    font-size: 0.8rem;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

.Homepage form button:hover{
    background-color: var(--color--red);
    letter-spacing: 1px;
}

.politica p{
    width: 60%;
    font-size: 0.6rem;
    line-height: 100%;
    color: var(--color--black);
    font-weight: 300;
}

.politica p a{
    color: var(--color--red);
    font-weight: 600;
}

@media (max-width: 768px){
    .Homepage{
        height: 100dvh;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: flex-start;
        flex-direction: column;
        padding: 10% 5%;
        background-image: none;
        background-color: var(--color--red);
    }
    
    .Homepage::before{
        clip-path: polygon(0 0, 100% 0, 100% 75%, 70% 85%, 30% 85%, 0 75%);
    }
    
    .Homepage::after{
        display: none;
    }
    
    .Homepage img{
        width: auto;
        height: 7.5%;
        object-fit: contain;
    }
    
    .Homepage h1{
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 100%;
        color: var(--color--black);
        text-align: center;
        width: 100%;
    }
    
    .Homepage p {
        font-size: 0.8rem; 
        line-height: 100%;
        margin-top: -5px;
        font-weight: 200;
        width: 100%;
        text-align: center;
    }
    
    .Homepage form{
        width: 100%;
        display: flex;
        gap: 10px;
    }
    
    .Homepage form div{
        width: 100%;
        gap: 20px;
    }
    
    .Homepage form select{
        padding: 15px;
        width: 100%;
    }
    
    .Homepage form select option{
        padding: 12px;
    }
    
    .Homepage form input{
        width: 100%;
        padding: 12px;
    }

    .Homepage form input::placeholder{
        font-size: 0.8rem;
    }
    
    .Homepage form button{
        width: 100%;
        padding: 15px;
    }
    
    .politica{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .politica p{
        width: 80%;
        font-size: 0.8rem;
        text-align: center;
    }
    
}

@media (min-width: 769px) and (max-width: 1280px){
    .Homepage{
        height: 100dvh;
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 40px;
        justify-content: center;
        flex-direction: column;
        padding: 0 10%;
        position: relative;
        z-index: 1;
    }
    
    .Homepage img{
        width: auto;
        height: 8%;
        object-fit: contain;
    }
    
    .Homepage h1{
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 100%;
        width: 45%;
    }
    
    .Homepage p {
        font-size: .8rem; 
        width: 50%;
        line-height: 100%;
        margin-top: -20px;
        font-weight: 200;
    }
    
    .Homepage form{
        width: 40%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        margin-top: -10px;
        gap: 10px;
    }
    
    .Homepage form div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
    }
    
    .Homepage form select{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 10px;
        border: 1px solid var(--color--black);
    }
    
    .Homepage form select option{
        padding: 10px;
        color: var(--color--black);
    }
    
    .Homepage form input{
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid var(--color--black);
    }

    .Homepage form input::placeholder{
        font-size: 0.8rem;
    }
    
    .Homepage form button{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: var(--color--black);
        color: var(--color--white);
        cursor: pointer;
        border: none;
        border-radius: 10px;
        transition: all .2s ease-in-out;
        font-size: 0.8rem;
    }
    
    .Homepage form button:hover{
        background-color: var(--color--red);
        letter-spacing: 1px;
    }
    
    .politica p{
        width: 60%;
        font-size: 0.8rem;
        line-height: 100%;
        color: var(--color--black);
        font-weight: 300;
    }
    
    .politica p a{
        color: var(--color--red);
        font-weight: 600;
    }
}